main {
  font-family: 'PT Serif', 'Charter', 'Times New Roman', Times, serif;
}

.main-pane {
  width: 100%;
  max-width: 960px;
}

h1, h2, h3,
.hero .tagline {
  text-wrap: balance;
}

img {
  margin: 0; padding: 0;
  border-radius: .4em;
}



.hero img {
  margin-inline: auto;
  max-height: 50vw;
}

/*  Dont't reserve space for non existing images
 *  inside the Hero component.
 */

@media (min-width: 50rem) {
  .hero:not(:has(img)) {
    grid-template-columns: 1fr;
  }
}
