:root[data-theme="light"] {
  --sl-color-accent-high: lch(40.014% 108.495 309.59);
  --sl-color-accent: lch(40.014% 108.495 309.59);
  --sl-color-accent-low: lch(40.014% 108.495 309.59);
  --sl-color-bg: #EEEEF5;
}

:root[data-theme="dark"] {
  --sl-color-accent-high: lch(57.859% 97.892 326.222);
  --sl-color-accent: lch(57.859% 97.892 326.222);
  --sl-color-accent-low: lch(57.859% 97.892 326.222);
  --sl-color-bg: #191923;
}


main {
  font-family: 'PT Serif', 'Charter', 'Times New Roman', Times, serif;
}

.main-pane {
  width: 100%;
  max-width: 960px;
}

h1, h2, h3,
.hero .tagline {
  text-wrap: balance;
}

img {
  margin: 0; padding: 0;
  border-radius: .4em;
}



.hero img {
  margin-inline: auto;
  max-height: 50vw;
}

/*  Dont't reserve space for non existing images
 *  inside the Hero component.
 */

@media (min-width: 50rem) {
  .hero:not(:has(img)) {
    grid-template-columns: 1fr;
  }
}
