---
interface Props {
  columns: string;
}

const { columns = 2 } = Astro.props;
---



<div class="image-grid" style=`--columns: ${columns}`>
  <slot />
</div>



<style>
  .image-grid :global(p) {
    display: grid;
    gap: 1em;
    grid-template-columns: repeat(var(--columns), minmax(0, 1fr));
  }
</style>
